@font-face {
  font-family: "barett";
  src: url("../../fonts/Barett\ Street.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Alegreya:ital,wght@0,400..900;1,400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.header__nav {
  display: flex;

  overflow: hidden;
}
.header__logo {
  flex: 1;
  display: flex;
  position: relative;
  padding: 20px;
}
.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1;
}
.header__logo h4 {
  padding-left: 30px;
  color: #fff;
  font-size: 32px;
  z-index: 2;
  font-family: "barett", sans-serif;
  font-weight: 400;
}
.header__menu {
  display: flex;
  padding: 20px;
  flex: 1.19;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  list-style: none;
}
.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  margin-left: 30px;
}
